.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Bodoni Moda', serif;
  }
  #logo-navbar-text{
    font-family: 'Bodoni Moda', serif;
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
    text-shadow: 0 0 15px darkgray;
  }
  .nav-header-video{
    position: relative;
  }
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -99;
  }
  .main-cover{
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .main-cover img{
    width: 100%;
  }
  .main-text{
    font-family: 'Bodoni Moda', serif;
    margin-top: 10px;
  }
  .title-main{
    font-size: 1.9rem;
    font-weight: 900;
   
  }
  .text-main{
    font-size: 1.1rem;
    font-weight: 700;
  }
  
  
  #scroll-down-animation {
    margin-top: 25px;
  }
  .mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 50px;
    width: 30px;
    position: relative;
  }
  
  .move {
    position: absolute;
    background-color: #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-50%,10px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%,25px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%,40px);
      opacity: 0;
    }
  }
  
  
  #hit{
    background: url("https://cdn1.umg3.net/937-cdn/assets/gfx/section4.jpg?v=1") no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    object-fit: cover;
  }
  .font-weight-900{
    font-weight: 900;
  }
  
  .slider-container img{
    aspect-ratio: 1 / 1;
    cursor: grab;
  }
  .sliders {
    position: relative;
  }
  .control{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    list-style: none;
    color: white;
    cursor: pointer;
  }
  .prev, .next {
    position: absolute;
  }
  .prev {
    left: -25px;
  }
  .next {
    right: -25px;
  }
  iframe{
    width: 853px;
    height: 480px;
  }
  .mybtn{
    max-width: 150px;
  }
  @media only screen and (max-width: 576px){
    .prev {
      left: 10px;
    }
    .next {
      right: 10px;
    }
    iframe{
      width: 350px;
      height: 190px;
      margin-top: 87px;
    }
  }
  @media only screen and (max-width: 376px){
    iframe{
      width: 300px;
      height: 190px;
      margin-top: 87px;
    }
  }
  
  #tour{
    background: url("https://cdn1.umg3.net/937-cdn/assets/gfx/section2.jpg?v=1") no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .text-tour{
    color: white;
    text-align: center;
  }
  .text-tour h2 {
    margin-bottom: 35px;
    font-size: 75px;
    font-weight: 900;
  }
  .text-tour h3 {
    font-weight: 900;
    font-size: 1.2rem;
  }
  
  
  .gradient-brand-color {
    background-color: rgb(201, 178, 146) ;
    color: #fff;
  }
  .contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
  }
  
  @media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
  }
  .contact-info__list span.position-absolute {
    left: 0
  }
  .z-index-101 {
    z-index: 101;
  }
  .list-style--none {
    list-style: none;
  }
  .contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
  }
  
  @media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
  }
  @media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
  }
  .shadow-lg {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
  }
  .btn-customcss{
    background-color: rgb(250, 214, 165);
  }